*~
*.bak
*.pyc
*#*
*.#*
*tmsi_driver_server
*signal_receiver
*dummy_tmsi_driver_server
*.o
*.cmd
*.mod.c
*.ko
modules.order
Module.symvers
tmsi.mod.c
.tmp_versions
.gitignore
drivers/eeg/cpp_amplifiers/build/
drivers/eeg/cpp_amplifiers/test*
drivers/eeg/cpp_amplifiers/base/*dummy_amplifier
drivers/eeg/cpp_amplifiers/dummy_amplifier
drivers/eeg/cpp_amplifiers/file/*file_amplifier
drivers/eeg/cpp_amplifiers/file_amplifier
drivers/eeg/cpp_amplifiers/tmsi/*tmsi_amplifier
drivers/eeg/cpp_amplifiers/tmsi_amplifier
drivers/eeg/cpp_amplifiers/tmsi/driver/synfi_init
drivers/eeg/cpp_amplifiers/gtec/*gtec_amplifier
drivers/eeg/cpp_amplifiers/gtec_amplifier
drivers/eeg/cpp_amplifiers/gtec/simple_gtec_driver
drivers/eeg/cpp_amplifiers/simple_gtec_driver
drivers/eeg/cpp_amplifiers/gtec/lib/
drivers/eeg/cpp_amplifiers/gtec/boost*
drivers/eeg/cpp_amplifiers/bin

multiplexer-install/
*test_logger
*test_dummy_driver
*test_server
*test_tmsi_driver
*dummy_receiver