*~
*.bak
*.pyc
*#*
*.#*
*tmsi_driver_server
*signal_receiver
*dummy_tmsi_driver_server
*.o
*.cmd
*.mod.c
*.ko
modules.order
Module.symvers
tmsi.mod.c
.tmp_versions
.gitignore
drivers/eeg/c_tmsi_amplifier/build/
drivers/eeg/c_tmsi_amplifier/tmsi/synfi_init
drivers/eeg/c_tmsi_amplifier/tmsi_server
drivers/eeg/c_tmsi_amplifier/test_driver
multiplexer-install/
*test_logger
*test_dummy_driver
*test_server
*test_tmsi_driver
*dummy_receiver