Source: openbci-amplifiers
Section: science
Priority: optional
Maintainer: Alex Khrabrov <alex@mroja.net>
Build-Depends: debhelper (>= 7),
      libboost-dev,
      libboost-date-time-dev,
      libboost-filesystem-dev,
      libboost-program-options-dev,
      libboost-signals-dev,
      libboost-system-dev,
      libprotobuf-dev (>= 2.4.1),
      libstdc++-dev,
      openbci-libmultiplexer-dev (>= 0.1.3-6~),
      libbluetooth-dev,
      protobuf-compiler
Standards-Version: 3.9.3

Package: openbci-dummy-amplifier
Architecture: amd64 i386
Depends:
      ${misc:Depends},
      ${shlibs:Depends}
Description: Generates a fake signal
 Uses multiplexer to transfer the samples to the receivers.

Package: openbci-file-amplifier
Architecture: amd64 i386
Depends:
      ${misc:Depends},
      ${shlibs:Depends}
Description: Reads samples from a file
 Uses multiplexer to transfer the samples to the receivers.

Package: openbci-tmsi-amplifier
Architecture: amd64 i386
Depends:
      ${misc:Depends},
      ${shlibs:Depends},
      tmsi-dkms
Description: Reads samples from the TMSi amplifier kernel driver
 Uses multiplexer to transfer the samples to the receivers.

Package: openbci-amplifiers
Architecture: amd64 i386
Depends: openbci-dummy-amplifier (>= 1.8.4), openbci-tmsi-amplifier (>= 1.8.4), openbci-file-amplifier (>= 1.8.4)
Description: Master package containing all OpenBCI amplifier packages.
 Installs openbci-dummy-amplifier, openbci-tmsi-amplifier, 
 openbci-file-amplifier.
