Source: tmsi
Section: kernel
Priority: optional
Maintainer: Alex Khrabrov <alex@mroja.net>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.3

Package: tmsi-dkms
Architecture: all
Depends: dkms (>= 1.95), bash (>> 1.99), fxload
Description: TMSi amplifier driver in DKMS format
 USB driver for the TMS International Fiber to USB converter used in
 the Refa8 series of products. TMSi kernel module is necessary to
 receive data from TMSi EEG amplifiers over USB.
